@import './mixin';

/* Carousel content */
.carousel {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.slides {
  text-align: center;
  position: relative;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: width 2s;

  @include md {
    width: 550px;
    height: 400px;
  }

  @include lg {
    width: 1000px;
    height: 600px;
  }
}

.no-content {
  width: 350px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    width: 550px;
    height: 400px;
  }

  @include lg {
    font-size: 3rem;
    width: 1000px;
    height: 600px;
  }
}

/* Next & previous buttons */
.next,
.prev {
  top: 55%;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  margin-top: 10px;

  @include md {
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.next button,
.prev button {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  user-select: none;
  transition: 0.6s ease;
  transform: scale(1.2);
  height: 100%;
  width: 100%;

  @include md {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

.next button {
  margin-left: 1px;
}

.prev button {
  margin-right: 1px;
}

.prev:hover,
.next:hover {
  transform: scale(1.2);
}

.button-group button {
  cursor: pointer;
  background-color: #fff;
  margin: 0 1rem 1rem 1rem;
  min-width: 8rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.2rem;
  padding: 0.75rem 2rem;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #4d7973;
  transition-duration: 0.4s;
}

.button-group button:active {
  transform: scale(0.98);
}

.button-group button.active {
  color: #fff;
  background-color: #4d7973;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Loader */
.transparent-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.loader {
  top: 50%;
  left: 45%;
  width: 2rem;
  height: 2rem;

  position: fixed;
  border: 10px solid #fff;
  border-top: 10px solid #4d7973;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  @include lg {
    left: 48%;
    width: 4rem;
    height: 4rem;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
